*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background-color: #1d2021;
    overflow: hidden;
    color:white;
    font-family:Poppins; 
}

button, .buttonlike{
    border: solid 1px white;
    border-radius: 100vh;
    color:white;
    /* padding-left: 7%;
    padding-right: 7%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh; */
    padding: 0.5vh 7% 0.5vh 7%;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    background-color: transparent;
    z-index: 10;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-size: clamp(0.2rem, min(1.5vh, 1.5vw), 1.5rem);

    cursor:pointer;
    transition: all 230ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
}

.absolute-btn{
    padding-left: 1vw;
    padding-right: 1vw;
}

.absolute-btn:disabled{
    opacity:0.5;
    cursor:not-allowed
}

.absolute-btn:disabled:hover{
    padding-left: 1vw;
    padding-right: 1vw;
}
.del-btn{
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    border-color:red;
    color:red
}


.subtle-txt{
    font-family: 'Montserrat';
    margin:0;
    padding:0;
    text-align:center;
    z-index: 10;
}

#position_debug{
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    background-color: rgba(99, 99, 99, 0.316);
    padding: 0.5vh 0.7vw 0.5vh 0.7vw;
    border-radius: clamp(0.1rem, min(0.7vw, 0.7vh), 1.7rem);
    transition: all 230ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.248), -5px 5px 20px 0px rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(187, 187, 187, 0.289);
}

.subtle-btn{
    display: flex;
    align-items: center;
    justify-content: center;

    border:none;
    margin:0px 0.5vw 0px 0.5vw;
    background-color: #171a1a;
    padding:0;
    border-radius: calc(clamp(0.5rem, min(4.5vh, 4.5vw), 5rem) / 2);
    width: clamp(0.5rem, min(4.5vh, 4.5vw), 5rem);
    height: clamp(0.5rem, min(4.5vh, 4.5vw), 5rem);
    color:rgb(180, 180, 180);
    transition: all 230ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
    z-index: 10;
}

.subtle-btn:hover{
    /* background-color: #0e0f0f; */
    width: clamp(0.5rem, min(4.5vh, 4.5vw), 5rem);
    height: clamp(0.5rem, min(4.5vh, 4.5vw), 5rem);
    padding:0;
    border-radius: calc(clamp(0.5rem, min(4.5vh, 4.5vw), 5rem) / 6);
    color:rgb(255, 255, 255)
}

/* TEXT STYLE STUFF */

p{
    cursor: default;
    font-weight: 400;
    font-size: clamp(0.05rem, min(1.7vh, 1vw), 1rem);
    margin:0;
    z-index: 10;
}

h1{
    cursor: default;
    font-weight: 300;
    font-size: clamp(0.5rem, min(7vh, 5vw), 7rem);
    letter-spacing: 5px;
    margin:0;
    z-index: 10;
}

h2{
    cursor: default;
    font-weight: 300;
    font-size: clamp(0.5rem, min(4vh, 4vw), 4rem);
    letter-spacing: 5px;
    margin:0;
    z-index: 10;
}

h3{
    font-size: clamp(0.3rem, min(2.5vh, 2.5vw), 3rem);
    font-weight: 400;
    margin:0;
    z-index: 10;
}

h4{
    font-size: clamp(0.2rem, min(2vh, 2vw), 2.5rem);
    font-weight: 500;
    margin:0;
    z-index: 10;
    opacity: 1;
}

h5{
    z-index: 10;
}

a{
    color: rgb(69, 165, 255);
}

.spoiler, .spoiler2{
    padding: 0 0.3rem 0 0.3rem;
    color: black; 
    border-radius: 0.2rem;
    background-color:black;
    transition: all 300ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.spoiler:hover{
    color: rgba(255, 255, 255, 0.741);
    background-color:rgb(68, 68, 68);

    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.spoiler2:hover { 
    background-color:white; 
}

/* TEXT STYLE END */


button, .buttonlike:hover{
    padding-left: 12%;
    padding-right: 12%;
}

.absolute-btn:hover{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.absolute-btn.disable{
    opacity:0.5;
}

.absolute-btn.disable:hover{
    cursor: not-allowed;
    padding-left: 1vw;
    padding-right: 1vw;
}

.absolute-btn.disable p{
    cursor: not-allowed;
}

button p{
    cursor: pointer;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nolinkunderline{
    text-decoration: none;
}

.copyrightmsg{
    font-size: clamp(0.075rem, min(1.5vh, 1.5vw), 1.5rem);
}

.menu-container{
    background-color: rgb(24, 26, 27);
    position:absolute;
    transition: background-color 150ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
    z-index: 3;
}

.menu-container:hover{
    background-color: #161819;
}

.no-scroll-bar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width:none;  /* Firefox */
}
.no-scroll-bar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.terminal{
    width:100%;
    height:90%;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    background-color: #0f1011;
    border: 1px solid #333737;
    border-bottom: 1px solid rgba(255, 255, 255, 0.145);
    padding:1vh 0.5vw 0.5vh 0.5vw;
    border-radius:1.4vh 1.4vh 0 0;
    color:#b3b3b3;
    word-wrap: break-word;
}

.terminal-in{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: left;
    background-color: #0f1011;
    border: 1px solid #333737;
    padding:1vh 0.5vw 0.5vh 0.5vw;
    border-radius:0 0 1.4vh 1.4vh;
    border-top: none;
    color:#b3b3b3;
    word-wrap: break-word;
    font-size: clamp(0.075rem, min(1.5vh, 1.5vw), 1.5rem);
    letter-spacing: -0.3px;
}

.terminal-in:focus {
    outline: 1px solid rgb(177, 0, 0);
    font-weight: 600;
}

.terminal span{
    margin-top:2vh;
    line-height:2vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(0.075rem, min(1.5vh, 1.5vw), 1rem);
    cursor:text;
}

.terminal span.info{
    margin:0;
    color:#727272
}

h3.section-text{
    font-size: clamp(0.3rem, min(2.5vh, 1.5vw), 3rem);
}

h5.section-text{
    font-size: clamp(0.2rem, min(1.5vh, 1vw), 2.75rem);
}

p.section-text{
    font-size: clamp(0.15rem, min(1.7vh, 0.6vw), 2.5rem);
}

hr{
    opacity: 0.4;
}

.hr{
    position: absolute;
    width:100vw;
    height:2px;
    background-color: rgba(255, 255, 255, 0.062);
}

.vr{
    position: absolute;
    width:2px;
    height:100vh;
    background-color: rgba(255, 255, 255, 0.062);
}

.node{
    position:absolute;
    z-index: 2;
    text-align: center;
    border: 2px solid;
    border-color: transparent;
    transition: all 500ms cubic-bezier(0.355, 0.010, 0.200, 1.010); /* custom */
    display:flex; align-items: center; justify-content: center; flex-direction: column;
}

.crosshair{
    position:absolute;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    color:red;
    z-index: 1;
}

.node-drag{
    cursor: move;
    background-color: #2e2e2e;
    border-radius: 15px;
    padding:10px;
    box-shadow: -5px 5px 20px -10px black, 0px 0px 20px -10px black;
    border: 1.5px solid;
    border-color: #424242;
}

.selected-node{
    border-color: rgb(177, 0, 0);
    border-width: 1.2px;
}

.node-out{
    cursor: grab;
    background-color: rgb(255, 208, 0);
    width:8px;
    height:8px;
    margin-top:5px;
    border-radius: 1.5px
}

.node-in{
    cursor: normal;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid rgb(19, 224, 0);
    margin-bottom:5px;
    cursor: grab;
}

.node-title{
    font-size: clamp(0.2rem, min(2vh, 2vw), 2rem);
    font-weight: 500;
    margin:0;
    z-index: 2;
    font-family: 'Montserrat'
}

.node-text{
    color:lightgray;
    font-size: clamp(0.1rem, min(1.5vh, 1.5vw), 1.5rem);
    font-weight: 400;
    margin:0;
    z-index: 2;
    font-family: 'Montserrat';
    white-space: nowrap;
}

/* node menu container */

.node-menu-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width:100%;
    padding-top: 5%
}

#default-node-menu{
    justify-content: center;
    padding: 0;
}

/* slider */

.slider{
    -webkit-appearance: none;
    appearance: none;
    background: #2d3031;
    height: 0.4vh;
    border-radius: 100vw;
    width: 70%;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: clamp(0.2rem, min(1vw, 1vh), 2rem);
    height: clamp(0.2rem, min(1vw, 1vh), 2rem);
    border-radius: 50%;
    background: #8d8d8d;
    border:none;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: clamp(0.2rem, min(1vw, 1vh), 2rem);
    height: clamp(0.2rem, min(1vw, 1vh), 2rem);
    border-radius: 50%;
    background: #8d8d8d;
    border:none;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:disabled {
    -webkit-appearance: none;
    appearance: none;
    width: clamp(0.2rem, min(1vw, 1vh), 2rem);
    height: clamp(0.2rem, min(1vw, 1vh), 2rem);
    border-radius: 50%;
    background: #404040;
    border:none;
    cursor: pointer;
}

.slider::-moz-range-thumb:disabled {
    width: clamp(0.2rem, min(1vw, 1vh), 2rem);
    height: clamp(0.2rem, min(1vw, 1vh), 2rem);
    border-radius: 50%;
    background: #404040;
    border:none;
    cursor: pointer;
}

.slider-container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0.3vh
}

.input-parent-container{
    width:80%;
}

.input-parent-container p{
    font-weight: 500;
    font-size: clamp(0.1rem, min(1.5vh, 1vw), 1.5rem);
    margin-top: 0.5vh
}

/* number input */
.number-box{
    width: 20%;
    border: 1px solid #b8b8b8;
    border-radius: 0.6vh;
    text-align: center;
    background-color: transparent;
    color:white;
    outline: none;
    font-size: clamp(0.15rem, min(1.5vh, 1.5vw), 1.5rem);
}

.number-box:disabled{
    color:gray;
}

.number-box:focus{
    border-color: #be1a00;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.node-selection{
    /* padding-top:clamp(0.2rem, min(1vw, 1vh), 1rem);
    padding-bottom:clamp(0.2rem, min(1vw, 1vh), 1rem);
    padding-left:clamp(0.3rem, min(1.5vw, 1.5vh), 1.5rem);
    padding-right:clamp(0.3rem, min(1.5vw, 1.5vh), 1.5rem); */
    text-decoration: none;
}

#temp_edge{
    opacity:0.5
}


/* ===== all selector css ==== */

 /* The container must be positioned relative: */

select {
    background-color: transparent;
    border: 1px solid #b3b3b3;
    color:white;
    border-radius: 1vh;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    font-size: clamp(0.2rem, min(1.3vh, 1.3vw), 1.5rem);
    margin:0;
    cursor: pointer;
}